.checkout_page {
  background-color: #351856;
  height: 100vh;
}

.check_course {
  border: 2px solid #fff;
  border-radius: 20px;
  width: 50%;
  margin: auto;
  padding: 10px 0;
}
.check_page_title {
  color: #ff9f1a;
}
.check_list {
  font-size: 20px;
}
.check_price {
  font-size: 20px;
}
.check_price span {
  color: #ff9f1a;
}
