.home {
  background-color: #1f1f38;
  height: 80vh;
}

.hero_section {
  height: 500px;

  padding-top: 50px;
}
.learnex {
  color: #5f27cd;
}
.hero_btn {
  background-color: #5f27cd;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  font-weight: 500;
}
.hero_text {
  color: #fff;
}

@media only screen and (max-width: 992px) {
  .hero_btn {
    margin-bottom: 10px;
  }
}
