.logo_name {
  font-weight: 700;
  color: #5f27cd;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px;
}

.menu a {
  color: #000;
  font-weight: 500;
}
.log a {
  text-decoration: none;
  display: inline-block;
  color: #6a6a6a;
  padding-right: 5px;
}

.user {
  display: flex;
  align-items: center;
}
