.logo_name {
  font-weight: 700;
  color: #ff6464;
}
.log a {
  text-decoration: none;
  display: inline-block;
  color: #6a6a6a;
  padding-right: 5px;
}

.user {
  display: flex;
  align-items: center;
}
